body {
    background-color: blanchedalmond;
}


#header-nav {position: relative;
    background-color: darkkhaki;
    text-align: left;
    height: 60px;
}
#header-nav h1{position: absolute;
    left: 0;

}
h2 {
    text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid red; 
}
h3 {
    text-align: center;
}
#isk {
    background-color: white;
    opacity: 0.5;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
    margin-top: 30px;
}

#nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  @media (max-width: 767px) {
    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
  }
  
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
  @media (max-width: 479px) {
      /* Header */
      .navbar-brand h1 { /* Restaurant name */
        padding-top: 5px;
        font-size: 6vw;
      }
  }